:root {
  --primary-color: #f3f3f1;
  --secondary-color: #262625;
  --font-primary: Inter;
}

* {
    box-sizing: border-box;
}

html {
  font-size: 4px;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-primary);
  font-weight: 700;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.progression-bar {
    background-color: var(--secondary-color);
    width: 32px;
    height: 4px;
}

.head {
  margin: 36px 12px 0px 12px;
  font-size: 3rem;
  display: grid;
  grid-template-columns: 120px auto 120px;
  align-items: center;
}

.container-piscine {
  width: 91px;
  height: 27px;
  background-color: var(--secondary-color);
  color: #ebedff;
  border-radius: 80px;
  transform: rotate(8deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#percent {
  justify-self: center;
  align-self: center;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-button {
  background-color: var(--secondary-color);
  width: 54px;
  height: 27px;
  border-radius: 63.07px;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-self: end;
}

.switch-circle {
  background-color: var(--primary-color);
  width: 23px;
  height: 23px;
  border-radius: 53.78px;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.switch-circle svg {
  margin-left: 3px;
}

/* Hero section */
.hero {
    padding: 0 12px;
    margin-top: 174px;
    font-weight: 600;
    font-size: 36px;
    line-height: 0;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
}

.title-logo {
    margin-left: 20px;
    width: 103px;
    height: 80px;
}


/* Responsive for large screens */
@media (min-width: 992px) {
    .head {
        margin: 20px 32px 20px 32px;
    }

    .hero {
        margin-top: 201px;
    }

    /* Change title display */
    .title-container {
        font-size: 60px;
        align-items: center;
        max-width: 911px;
    }

    .title-logo {
        transform: rotate(-21.39deg);
        order: 2;
        margin-left: 28px;
        margin-right: 45px;
    }

    .word-group:nth-child(1),
    .word-group:nth-child(3) {
        order: 1;
    }

    .word-group:nth-child(4) {
        order: 3;
    }
}
